<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="header.html :: headerfiles"/>
    <title>Индуктивности</title>
</head>
<body>

<header th:insert="header.html :: header"></header>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Удаление</th>
            <th scope="col">№</th>
            <th scope="col">Наименование</th>
            <th scope="col">Номинал</th>
            <th scope="col">Ток</th>
            <th scope="col">Типоразмер</th>
            <th scope="col">Количество</th>
            <th scope="col">Примечание</th>
            <th scope="col">Секция</th>
        </tr>
        </thead>
        <tbody id="table-components">
        <tr th:each="elem: ${components}" >
            <th>
                <form th:method="delete" th:action="@{'/inductance/delete/' + ${elem.id}}">
                    <button type="submit" class="btn-sm custom-button remove-button">Удалить</button>
                </form>
            </th>
            <th th:text="${elem.id}"/>
            <th th:text="${elem.name}"/>
            <th th:text="${elem.value}"/>
            <th th:text="${elem.current}"/>
            <th th:text="${elem.package_type}"/>
            <th th:text="${elem.amount}"/>
            <th th:text="${elem.note}"/>
            <th th:text="${elem.section}"/>
            <th>
                <span>
                    <button th:attr="data-url=@{'/inductance/amount/' + ${elem.id}}"  class="custom-button take-button">-</button>
                    <button th:attr="data-url=@{'/inductance/amount/' + ${elem.id}}"  class="custom-button pick-button">+</button>
                </span>
            </th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>