<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">

    <link media="all" type="text/css" th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/styles/index.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>

<header th:fragment="header">
        <span class="main-title my-container">

        <div class="dropdown">
            <button onclick="drop_pages()" class="dropbtn functiondropbtn">Компоненты</button>
            <div id="dropdown-pages" class="dropdown-content">
                <a th:each="c : ${typeComponents}" th:href="${'/' + c.key}" th:text="${c.name}"/>
            </div>
        </div>
        <form>
            <input type="text" id="item-search" name="item=search" placeholder="Введите название предмета">
        </form>

        <div class="dropdown">
            <button onclick="drop_links()" class="functiondropbtn btn custom-button add-button">Добавить компонент</button>
            <div id="dropdown-links" class="dropdown-content">
                <a th:each="c : ${typeComponents}" th:href="${'/' + c.key + '/add'}" th:text="${c.name}"/>
            </div>
        </div>

        </span>
</header>
</body>
</html>